@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prepare for local Belion font file if available */
@font-face {
  font-family: 'Belion';
  src: url('/fonts/Belion.woff2') format('woff2'),
       url('/fonts/Belion.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}